html {
	font-size: 18px;
}
body {
	font-family: Helvetica, Sans-Serif;
}
header img {
	height: 1.5rem;
	padding: 0 1rem 0 0.5rem;
}
header h4 {
	font-size: 1rem;
	padding: 0.66rem 0;
}
header {
	background-color: black;
}
.main {
	height: 25rem;
	background-image: url("../images/moto.jpeg")
	background-size: cover;
	width: auto;
	overflow: hidden;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}
footer {
	text-align: left;
	padding: 5rem;
	background-color: black;
}
